<div data-view="plugins/messageBox" class="modal fade">
    <div class="modal-dialog w30">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="html: title"></h4>
            </div>
            <div class="modal-body text-center">
                <p class="message" data-bind="html: message"></p>
            </div>
            <div class="modal-footer btn-center" data-bind="foreach: options">
                <button type="button" class="btn" data-bind="click: function () { $parent.selectOption($data); }, text: $data, css: { 'btn-primary': $index() == 0, 'btn-default': $index() != 0, autofocus: $index() == 0 }"></button>
            </div>
        </div>
    </div>
</div>